@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--c-white);
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
}

.logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  color: #fff;
  text-shadow: 2px 2px;
}

.gd-modal-loaded .logo {
  display: none;
}

.logo:hover {
  cursor: pointer;
  color: #ffe0c9;
}
