{{ define "head" }}
  {{ partial "gallerydeluxe/head.html" . }}
{{ end }}

{{ define "main" }}

{{ $bundle := site.GetPage "images" }}
{{ $images := $bundle.Resources.ByType "image" }}
{{ $gallery := partial "gallerydeluxe/init.html" (dict "sourcePath" "images") }}
{{ $params := site.Params.gallerydeluxe }}

<div id="gallerydeluxe" data-gd-image-data-url="{{ $gallery.imageDataUrl }}"></div>

<!-- GalleryDeluxe Modal -->
<div id="gd-modal" class="gd-modal">
  <span id="gd-modal-close" class="gd-modal-close">&times;</span>
  {{ if $params.enable_exif }}
    <div id="gd-modal-exif" class="gd-modal-exif"></div>
  {{ end }}
</div>

{{ end }}